{% extends 'base.html' %}
{% block title %}
    <title>kswschool 메인 페이지</title>
{% endblock %}
{% block content %}
    
    <h1>Title</h1>
    <p>author</p>
    <p>content</p>
    <!-- <div id="text">

    </div>
    <button onclick="sendRequest()">clcik</button>
    <script>
        function sendRequest(){
            var httpRequest = new XMLHttpRequest();
            httpRequest.onreadystatechange = function(){
                if(httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                    document.getElementById('text').innerHTML = httpRequest.responseText;
                }
            }
            httpRequest.open("GET", "/account/login", true);
            httpRequest.send();
        }
    </script> -->
{% endblock %}