html{
  overflow-x: scroll;
  overflow-y: scroll;

}

html *{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

body{
  text-align: center;
  min-width: 1024px;
}

form{
  display : flex;
  flex-direction: column;
  align-items:center;
  border: 1px solid black;
  background-color: rgba(23,111,42,0.8);
  border-radius: 10px;
  padding: 15px;
}

a{
  text-decoration: none;
  color:darkturquoise;
}

a:visited{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color:green;
}

a:active{
  text-decoration: none;
  color:blue;
}

.user-info{ 
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.login-info{
  display: flex;
  flex-direction: column;
  font-size : 15px;
  justify-content: center;
}

.info-box, .login-label, .signup-label{
    margin : 10px;
}

input[name = "password"]{
  display : none;
}

.ks2w-header{
    height: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.ks2w-login{
  float : left;
  display: flex;
  justify-content: space-between;
}

.login-page, .signup-page{
    display : flex;
    justify-content: center;
  }
  
.error_field{
  text-align: center;
  color: red;
  display: flex;
  justify-content: center;
  padding-right : 60px;
}
.error_field ul{
  list-style-type: none;
}

.btn{
  display: block;
  border: 1px solid black;
  padding: 3px;
  margin: 3px auto;
  width:100px;
  text-align: center;
  text-decoration: none;
}


input{
  padding-right : 20px;
}