<!-- login 키 눌렸을 때 실행-->
{% extends 'base.html' %}
{% block content %}
<h1>Login</h1>
    <div class = "login-page">
        
        <form method="POST" action="{% url 'login'%}?next={{ request.path }}">
            {% csrf_token %}
            
            {% if error %}
                {{ error }}
                <br>
            {% endif %}
            {{ form.errors }}

            {% for field in form %}
                {{ field.erros }}
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {{ field }}
            {% endfor %}
            <br>
            <div style="display:flex; ">
                
                    <input type="submit" value="Login">
                    <a href="{% url 'signup' %}">signup</a>   
                
            </div>
        </form>
        
    </div>
{% endblock %}